<!doctype html>
<html lang="en">

<head>
    <title>Foodblog | contribute your delicious Recipe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">



    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script>
        const username = '<%=typeof username!=="undefined"?username:"no user"%>'
        const email = '<%=typeof email!=="undefined"?email:"no user"%>'
        const id = '<%=typeof id!=="undefined"?id:"no user"%>'
    </script>
</head>

<body>

    <div class="boxed-page">
        <%- include('partials/nav',typeof username !=="undefined"&&username,typeof id !=="undefined"&&id)%>



            <section id="about" class="about jumbotron" style=" margin-top: 50px;">
                <div class="container">

                    <div class="row content">
                        <div class="col-lg-6">
                            <h2>We are Food Blog</h2>
                            <h3>Welcome you to our website</h3>
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0">
                            <p>
                                In our website, you can share your delicous recipe with everyone, also you can learn from them
                            </p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> All the recipe in the website is from you</li>
                                <li><i class="ri-check-double-line"></i> Share the recipes with everyone</li>
                                <li><i class="ri-check-double-line"></i> Recive Email for new recipe posted</li>
                            </ul>
                            <p class="fst-italic">
                                This site is underdevelopment so bugs is expected and some functions are not implemented yet
                            </p>
                        </div>
                    </div>

                </div>
            </section>

            <section id="gtco-testimonial" class="overlay bg-fixed section-padding" style="background-image: url(img/testi-bg.jpg);">
                <div class="container">
                    <div class="section-content">
                        <div class="heading-section text-center">
                            <span class="subheading">
                    Tuan Pham
                </span>
                            <h2>
                                Food Blog
                            </h2>
                        </div>
                        <div class="row">
                            <!-- Testimonial -->
                            <div class="testi-content testi-carousel owl-carousel">
                                <div class="testi-item">
                                    <i class="testi-icon fa fa-3x fa-quote-left"></i>
                                    <p class="testi-text">So if you’re hungry for good food and great conversation with fellow cooks, we’re so happy you’re here! And there’s no better place to start than our community’s 75 Top-Rated Recipes of All Time, from five-star banana
                                        bread to our most-popular mac and cheese.</p>
                                </div>
                                <div class="testi-item">
                                    <i class="testi-icon fa fa-3x fa-quote-left"></i>
                                    <p class="testi-text">Easy access to your favorite saved recipes and the option to organize them into boards</p>

                                </div>
                            </div>
                            <!-- End of Testimonial -->
                        </div>
                    </div>
                </div>
            </section>

            <%-include("partials/footer.ejs")%>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/app.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    </script>
</body>

</html>