<!doctype html>
<html lang="en">

<head>
    <title>Foodblog | contribute your delicious Recipe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/brands.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script>
        const username = '<%=typeof username!=="undefined"?username:"no user"%>'
        const email = '<%=typeof email!=="undefined"?email:"no user"%>'
        const id = '<%=typeof id!=="undefined"?id:"no user"%>'
        const ERROR = "<%=typeof msg!=='undefined'?msg:'undefined'%>"
    </script>
</head>

<body>

    <div class="boxed-page">
        <%- include('partials/nav')%>

            <section class="bg-fixed bg-white my-3" style="background-image: url(img/153783.jpg); background-repeat: no-repeat; background-size: cover;max-width: 100%;">
                <div class="container">
                    <div class="mx-auto pt-3 text-center">
                        <h3>Add new recipe</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <form action="/recipe" method="post" id="frm" onsubmit="myTimeout()" class="w-100" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label for="" style="font-weight: 900;font-size: 20px;">Title</label>
                                    <input type="text" class="form-control" name="title" required>
                                </div>
                                <div class="form-group">
                                    <label for="" style="font-weight: 900;font-size: 20px;">Description</label>
                                    <input type="text" class="form-control" name="description" required>
                                </div>
                                <div class="form-group">
                                    <label for="" style="font-weight: 900;font-size: 20px;">Ingredients</label>
                                    <textarea required name="ingredients" class="form-control" cols="30" rows="5"></textarea>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="" style="font-weight: 900;font-size: 20px;">Preview image</label>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="" alt="" id="output" style="max-width: 300px;max-height: 300px;">
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="" class="mx-auto" style="font-weight: 900;font-size: 20px;"><h4>Image</h4></label>
                                    <input required type="file" required class="form-control" onchange="loadFile(event)" name="image" accept="image/*">
                                </div>
                                <div class="form-group">
                                    <label for="" style="font-weight: 900;font-size: 20px;">Method:</label>
                                    <textarea required name="step" id="" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                                <div class="row w-100 ">
                                    <button class="btn btn-primary mt-3 mx-auto" id="addNew">Add New Recipe</button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </section>
            <script>
                var loadFile = function(event) {
                    var output = document.getElementById('output');
                    output.src = URL.createObjectURL(event.target.files[0]);
                    output.onload = function() {
                        URL.revokeObjectURL(output.src)
                    }
                };
                document.getElementById("frm");
                const myTimeout = function() {
                    document.getElementById('addNew').setAttribute("disabled", true);
                    setTimeout(function() {
                        frm.reset();
                    }, 500);
                    setTimeout(function() {
                        document.getElementById("addNew").setAttribute('disabled', false);
                    }, 1000000);
                }
            </script>
            <%-include("partials/footer.ejs")%>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/alert.js"></script>
</body>

</html>